*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


ul{
    list-style: none;    
}

html {
    font-family: 'Gilroy' , sans-serif;
    font-size: 16px;    
}

body {
    overflow-x: hidden;
}

.btn-default {
    width: 336px;
    height: 84px;
    background-color: transparent;
    border: 2px solid #1f1f1f;
    border-radius: 12px;    
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;    
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/*PRELUDE*/

.header-menu {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0px;
}

.header-title {
    font-size: 20px;
    font-weight: 700;    
}

.header-nav__menu ul {
    display: inline; 
}

.header-nav__menu__item {
    display: inline;       
}

.header-nav__menu__item a {
    font-weight: 500;
    padding: 32px;    
    text-decoration: none;
    color: #1f1f1f;
    font-size: 20px;  
}

.header-menu-icon {
    display: flex;
    align-items: center;
}

.header-icon__input {
    width: 235px;
    height: 52px;
    border-radius: 50px;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    padding-left: 50px;
    font-size: 18px;
}

.header-icon__input {
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}

.header-icon__item {
    margin-left: 24px;
}

/* PRELUDE SNEAK */

.header-slider {
    display: flex;
    margin-top: 108px;
}

.header-slider__title {       
    font-weight: bold;
    font-style: normal;
    font-size: 104px;
    position: relative;
    line-height: 1;
}

.fill {
    background: -webkit-linear-gradient(left, #dadada 0%, #9f9f9f 100%);
    background: linear-gradient(to right, #dadada 0%, #9f9f9f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-slider__subtitle {
    width: 475px;
    height: 84px;
    font-size: 20px;
    margin-top: 24px;
}

.btn-default__header,
.header-slider__sneak {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default__header {
    margin-top: 108px;
}

.btn-default__header img {    
    margin-left: 20px;
}

.header-slider__sneak{
    position: absolute;
    left: 760px;    
}

/*SLIDERS COLORS*/

.slider-colors {
    width: 1440px;
    height: 767px;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.slider-colors__contents {
    display: flex;
    flex-direction: column;
    margin-top: 262px;
    text-align: center;    
}

.slider-colors__title {    
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 64px;
}

.slider-colors__list__items {
    display: inline-block;
    margin-top: 64px;
    cursor: pointer;    
}

.slider-colors__list__items:not(:last-child) {
    margin-right: 25px;    
}

.slider-colors__img {
    width: 464px;
    height: 241px;    
}

/* SPRITE */

.slider-colors__sprite {
    background: url(/img/sprites.svg) no-repeat;
    background-size: cover;
    background-position: 0;
    margin-top: 32px;
    width: 412px;
    height: 174px;
    animation: walk steps(4) 5s infinite;
}

@keyframes walk {
    100% {
        background-position: -2400px;
    }
}

.slider-colors__subtitle {
    font-weight: 700;    
    font-size: 20px;
    margin-top: 20px;
}

.btn-slider {
    transform: translateY(110px);
}

.slider-colors__img,
.slider-colors__sprite,
.btn-slider {
    margin-left: auto;
    margin-right: auto;
}

/*ATTRIBUTES*/

.attributes-box {
    margin-top: 200px;    
}

.attributes-box-ligth,
.attributes-box-damping, 
.attributes-box-sensation {
    display: flex;
    justify-content: space-between;
}

.attributes-box-light__img,
.attributes-box-sensation__img {
    width: 704px;
    height: 600px;    
}

.attributes-box-damping,
.attributes-box-sensation {
    margin-top: 160px;    
}

.attributes-box__title {
    width: 581px;
    height: auto;
    font-family: "Gilroy" , sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;    
}

.attributes-box__subtitle {
    width: 581px;
    height: 112px;    
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    font-size: 20px;
    margin-top: 24px;    
}

.attributes-box-damping {    
    flex-direction: row-reverse;        
}

.attributes-box-damping__img {
    display: flex;
    width: 712px;
}

.attributes-box-damping__img__two {
    margin-left: 8px;
}

/* BANNER RUNNER */

.runner {
    background-image: url(../img/pista.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0 0 16px;    
    height: 720px;    
}

.runner__item__img {    
    width: 44px;
    height: 45px;
    margin: 0 22px 7px 0;    
}

.runner__item__title {
    font-weight: 700;    
    font-size: 104px;
    color: white;
    text-transform: uppercase;
}

.runner__item__text {
    width: 1400px;
    display: flex;
    flex-direction: column;    
    line-height: 1.1;
}

/* MAPA E FORMULÁRIO DE CONTATO */

.form__maps {
    display: flex;
    margin-top: 200px;
}

.contact {
    background-color: #f3f3f3;
    border-radius: 0px 8px 8px 0px;
    width: 613px;
    height: 838px;    
}

.contact__title {
    margin: 40px 0 40px 48px;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.contact__form {
    margin-left: 60px;
}

.contact__form__input {
    width: 517px;
    height: 76px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid transparent;
    padding: 24px 0 0 28px;
    margin-bottom: 24px;
    font-size: 20px;
    color: #969696;
}

.contact__form__input--textarea {
    height: 260px;
    margin-bottom: 58px;
    font-family: 'khula', sans-serif;
}

.contact__form__label {
    display: flex;
    align-items: center;    
}

.contact__form__labe__input {
    width: 28px;
    height: 28px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;    
}

.contact__form__label__text {
    margin-left: 16px;
    color: #969696;
    font-size: 20px;
}

.btn-default--contact {
       width: 517px;
       margin-top: 48px;
}

/* RODAPÉ */

footer {
    background-color: #f3f3f3;
    height: 306px;
    margin-top: 160px;    
}

.footer__position,
.footer__list {
    margin-top: 56px;
    display: flex;    
    justify-content: space-between;
}

.footer__title {
    margin-top: 56px;
}

.footer__list__item--title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.footer__list__item {    
    margin-bottom: 12px;
}

.footer__list__link {
    text-decoration: none;
    color: #1f1f1f;
}

.footer__networks__icons {
    display: flex;    
}

.footer__list__items__link {
    margin-left: 27px;
}

.footer__list__items__link--not {
    margin: 0;
}

.footer__networks__item {
    display: inline;
    list-style-type: none; 
}

.footer__networks {
    width: 336px;    
    margin-top: 56px;    
    display: flex;
    flex-direction: column;
}

/* RODAPÉ MENTORAMA */

.baseboard {
    background-color: #F2f2f2;
    width: 100vmax;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseboard__text {
    font-family: 'khula', sans-serif;    
    font-size: 20px;
}

.mentorama__title b{
    font-weight: 700;    
}


/* ***MÉDIA QUERIES*** */

@media screen and (max-width: 768px) { 
    .container {
        width: 768px;        
    }
    
    .header-title {
        margin-left: 15px;
    }
    
    .header-nav__menu {
        display: flex;        
        width: 70%;
        margin: 0 48px 0 45px;        
    }

    .header-nav__menu__item {
        padding-left: 20px;
    }
   
    .header-nav__menu__item a {        
        font-size: 16px;
        padding: 0;        
    }    
    
    .header-icon__item {
        justify-content: space-around;
        margin-left: 15px;        
    }

    .header-menu-icon {
        margin-right: 15px;
    }

    .header-icon__input {
        width: 52px;
        height: 52px;
    }

    /* BANNER HERO - MÉDIA QUERIES*/
    
    .header-slider {
        margin: 0 15px 27px 15PX;
        width: 768px;
    }    
    
    .header-slider__title {
        line-height: 1.2;
        font-size: 78px;
    }   
    
    .header-slider__subtitle {
        width: 393px;        
    }

    
    .btn-default__header {
        margin-top: 80px;
    }
    
    .header-slider__sneak {        
        position: absolute;
        left: 270px;
    }
    
    .header-slider__sneak img {
        margin: 0;
        width: 550px;
        height: auto;
    }    
    
    
    /* CORES - MÉDIA QUERIES */

    .slider-colors {
        width: 768px;
        height: 698px;        
    }

    .slider-colors__list__items {        
        margin-top: 40px;        
    }

    .slider-colors__subtitle {
        margin-top: 20px;
    }
    
    .btn-slider {
        transform: translateY(110px);
        position: relative;
        bottom: 50px;
    }
    
    .slider-colors__img,
    .btn-slider {
        margin-left: auto;
        margin-right: auto;
    }
    
    /* ATRIBUTO - MÉDIA QUERIES */

    .attributes-box-ligth__img img,
    .attributes-box-damping__img,
    .attributes-box-sensation__img img {
        width: 352px;
        height: 300px;                
    }
    
    .attributes-box-sensation__img img,
    .attributes-box-ligth__img img {
        margin-right: 15px;
    }
    
    .attributes-box__title,
    .attributes-box__subtitle {
        width: 355px;
        margin: 0px 31px 0 15px;
    }
    
    .attributes-box,
    .slider-colors__contents {
        margin-top: 140px;
    }
        
    .attributes-box__title {
        line-height: 100%;
        padding-bottom: 5px;
        margin-top: 0;
    }

    .attributes-box__subtitle {
        height: 125px;
        margin: 16px 31px 0 15px;
        line-height: 140%;
    }

    .attributes-box__title {
        width: 355px;
        font-size: 57px;
    }

    .attributes-box__subtitle {
        font-size: 18px;
    }

    .attributes-box-damping {
        margin-left: 15px;
    }

    .attributes-box-sensation {
        height: 300px;
        margin-bottom: 140px;
    }

    /* BANNER RUNNER - MÉDIA QUERIES*/

    .runner {
        margin: 0;        
        width: 768px;
        height: 350px;
        background-size: contain;
    }

    .runner__item__text {
        width: 731px;
    }

    .runner__item__title, 
    .runner__item__title--sub { 
        font-size: 73px;
        letter-spacing: -0.02em; 
    }

    /* CONTATO - MÉDIA QUERIES*/
    
    .form__maps {
        margin-top: 140px;
    }
    
    .contact {        
        width: 768px;
        height: 618px;
    }

    .form__maps__image iframe {
        width: 353px;
        height: 618px;
        margin-left: 15px;
        border-radius: 8px 0px 0px 8px;        
    }

    .contact__form {
        margin-left: 31px;
    }

    .contact__title {
        margin: 34px 0 28px 33px;
    }

    .contact__form__label,
    .contact__form__input {
        width: 354px;
        height: 66px;
        padding: 16px;        
        font-size: 18px;
    }

    .contact__form__label {        
        padding: 0;        
    }

    .contact__form__input--textarea {        
        height: 170px;
        padding: 16px;
        margin: 0;        
    }

    .contact__form__label input {
        width: 20px;
        height: 20px;        
    }    

    .contact__form__label__text {
        font-size: 16px;
    }

    .btn-default--contact {
        width: 352px;
        height: 60px;
        font-size: 18px;
        margin: 0;
    }

    /* RODAPÉ - MÉDIA QUERIES */

    footer {
        height: 390px;
        margin-top: 140px;    
    }

    .footer__position {
        margin: 0;
    }

    .footer__title {
        margin: 40px 0 0 15px;
    }

    .footer__list__about {
        margin: 30px 0 0 -125px;
    }
    
    .footer__list__help {
        margin: 30px 0 0 20px;
    }
    
    .footer__networks {
        margin: 80px -130px 0 0px;
    }
}

/* ***MEDIA QUERIE - FIRST MOBILE*** */

@media screen and (max-width: 320px){ 
    
    /* ***MENU NAV - FIRST MOBILE*** */
    .container {
        width: 320px;        
    }

    .header-menu nav {
        display: none; 
    }
    
    .header-menu-icon {
        width: 290px;
        position: absolute;
        justify-content: space-between;
    }
    
    .header-icon__input {
        background-image: url(../img/menu-burguer.png);
        background-repeat: no-repeat;     
        margin-left: 25px;       
    }

    .header-menu {
        margin-top: 16px;
        height: 46px;
    }

    .header-title {        
        position: absolute; /*mudando para relative acontece outro comportamento*/
        left: 70px;
    }

    /* ***HERO - FIRST MOBILE*** */

    .header-slider {
        display: block;        
    }

    .header-slider__title {
        font-size: 50px;
    }

    .header-slider__subtitle {
        width: 300px;
        font-size: 16px;
        line-height: 150%;
    }

    .btn-default__header {
        width: 300px;
        height: 51px;
        margin: 20px 10px 24px -6px; /* centralizar melhor o botão */
    }

    .header-slider__sneak {
        width: 255px;
        height: 255px;
        position: relative;
        left: 15px;
        margin-bottom: 87px;                       
    }
    
    .header-slider__sneak img {
        margin-right: 55px;        
        width: 430px;        
    }

    /* ***COLOR - FIRST MOBILE*** */

    .slider-colors {
        width: 320px;
        height: 444px;
    }

    .slider-colors__title {
        font-size: 24px;
        padding-top: 40px;
    }

    .slider-colors__list__items:not(:last-child)  {
        margin-right: 16px;        
    }

    .slider-colors__img {
        width: 300px;
        height: auto;
    }

    .slider-colors__subtitle {
        font-size: 16px;
        
    }

    .btn-slider {
        width: 300px;
        height: 51px;
        font-size: 16px;
        margin-top: -40px;
    }

    /* ***ATRIBUTOS - FIRST MOBILE*** */
    
    .attributes-box, 
    .attributes-box-damping,
    .attributes-box-sensation {
        margin-top: 76px;
        
    }
    
    .attributes-box-ligth,
    .attributes-box-damping,
    .attributes-box-sensation {
        display: block;        
    }
    
    .attributes-box__title, 
    .attributes-box__subtitle {
        width: 300px;
        margin-left: 10px;
    }
    .attributes-box__title {
        font-size: 38px;
    }
    
    .attributes-box__subtitle {     
        height: 144px;
        font-size: 16px;
    }
        
    .attributes-box-ligth__img img {
        margin: 8px 10px;
        text-align: auto;
        width: 300px;
        height: 255px;
    }
    
    .attributes-box-damping {
        margin-left: 10px;        
    }

    .attributes-box__damping--first320 {
        margin-left: 0;
    }
    
    .attributes-box-damping__img {        
        width: 300px;
        height: 255px;        
    }

    .attributes-box-damping__img__one {
        width: 189.2px;
    }
    
    .attributes-box-damping__img__two {
        width: 107.39px;
    }

    .attributes-box-sensation__img {
        margin-top: 8px;
        width: 300px;
        height: 256px;
    }

    .attributes-box__sensation--first320 {
        height: 94px;
    }
    
    .attributes-box-sensation__img {
        margin: auto;
    }

    .attributes-box-sensation__img img {        
        text-align: auto;
        width: 300px;
        height: 255px;
    }

    /* ***BANNER - FIRST MOBILE*** */

    .runner {
        width: 320px;
        height: 173px;
        margin-top: 223px;
        padding: 0;
    }

    .runner__item__text {
        width: 299px;
        line-height: 1.2;
        margin-left: 11px;
    }

    .runner__item__img {
        margin: 13px 8px 10px 11px;
        width: 20px;
        height: 21px;
    }

    .runner__item__title--sub,
    .runner__item__title {
        font-size: 24px;
    }

    
    /* ***FORMULÁRIO - FIRST MOBILE*** */

    .contact {       
       width: 320px;
       height: 814px;
       padding: 40px 10px 0 10px;
    }

    .contact__form {
        margin: 0;
    }

    .contact__form__input {
        width: 300px;
        height: 56px;
        margin: 10px 0;
    }

    .contact__form__input--textarea {
        height: 132px;
    }

    .contact__title {
        font-size: 26px;
        margin: 20px 0 259px 0;
    }
    
    .form__maps {
        display: block;
        margin-top: -150px;
    }
    
    .form__maps__image iframe {
        position: relative;
        top: 336px;        
        width: 300px;
        height: 227px;
    }

    .contact__form__label__text {
        font-size: 13px;
    }

    .btn-default--contact {
        width: 300px;
        height: 51px;
        font-size: 16px;
    }

    /* ***FOOTER - FIRST MOBILE*** */

    footer {
        width: 320px;
        height: 701px;
        padding-top: 40px;
    }

    .footer__title,
    .footer__networks {        
        text-align: center;
    }
    
    .footer__position {
        display: block;
        align-items: center;        
    }

    .footer__list__item--title {
        font-weight: 400;
        font-size: 16px;
    }
    
    .footer__list {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .footer__list__about,
    .footer__list__help {
        margin: 40px 0;
    }

    .footer__networks__icons {
        margin: 20px 0 0px 0;
    }
    
    .footer__networks {
        margin-top: 10px;
    }

    .footer__networks__icons {
        margin-left: 79px;
    }

    .mentorama__title {
        font-size: 16px;
    }

    

   
    
}